{% extends '::base.html.twig' %}

{%block body%}
    <div class="row clearfix">
      <div class="col-md-10 column">
        <h1>About B-Scene</h1>
        <p>B-Scene is a hub for industry professional to learn about events, tours and workshops. The site allows for the creation of accounts and to publish various events put on by other organizations. You can post, search and share events with colleagues and friends. </p>
      </div>
    </div>
{%endblock%}