{% extends '::base.html.twig' %}

{% block body %}
        <div align="center">

    <h1>Contact Us</h1>
    <p>Sustento Collaborative Hub Inc<br>
        25 Milling Road Unit 303, Cambridge, ON N3C 1C3 <br>
        
        <b>Telephone:</b> (226) 474-1169<br>
        <b>E-mail:</b> <a href="mailto:gerald.ford[at]sustento.ca">gerald.ford[at]sustento.ca</a> </p>
    <a href="http://www.sustento.ca/"><img src="{{asset('bundles/acmebscene/images/SustentoSignatureLogo.jpg')}}" style="padding-top: 3%"></a>
    </div>
{% endblock %}