{% extends 'adminLayout.html.twig' %}

{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/acmebscene/css/account.css')}}" rel="stylesheet">
{% endblock %}

{% block body -%}
    <h1>Categories edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('category') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
