{% extends '::base.html.twig' %}


{% block body %}
<div class='text-center'>
    
    <h2>You have successfully confirmed your e-mail address!</h2>
    <br>
    <h4>Review your <a href='{{path('acmebscene_accountDetail', { 'id' : id })}}' {{id}}>profile</a> or subscribe to <a href='{{path('acmebscene_subscribe')}}'>event notifications</a> by e-mail!</h4>
    
    
    
</div>


{% endblock %}