{% extends '::base.html.twig' %}


{% block body %}
<div class='text-center'>
    
    <h2>Validation Failed</h2>
    <br>
    <h4>Please try the link in your validation e-mail again, or contact B-Scene Admin</h4>

</div>


{% endblock %}