{% extends '::base.html.twig' %}
{% block body %}
    <div align="center">
        <h2>Email Verification Sent</h2>
        <p>Please check your e-mail and click the verification link before proceeding.</p>
    </div>
{% endblock %}